<template>
  <v-app :style="{'background': '#f8d0b0'}">
    <v-content>
      <v-container fluid class="pa-0">
        <v-row class="mx-0">
          <v-col
            :style="{'background-color': '#FDF5EE !important'}"
            class="pt-6 pb-0"
            cols="12"
          >
            <v-card
              id="noActionBtn"
              v-ripple="false"
              color="transparent"
              elevation="0"
              to="/"
              nuxt
            >
              <h1 class="text-center display-3 font-weight-black">
                TITLE
              </h1>
            </v-card>
          </v-col>
          <v-col :style="{'border-bottom-left-radius': '38px', 'border-bottom-right-radius': '38px', 'background-color': '#FDF5EE !important'}" cols="12" class="pt-0">
            <v-tabs
              v-model="selectedTab"
              :next-icon="arrowRightBold"
              :prev-icon="arrowLeftBold"
              background-color="transparent"
              color="#709078"
              class="px-0 mx-0"
              grow
              show-arrows
              height="105px"
            >
              <v-tab
                id="noActionBtn"
                v-for="category in categories"
                :key="category.slug"
                @click="enlaceOfuscado(category.slug)"
                class="px-0"
              >
                <v-card
                  id="noActionBtn"
                  v-ripple="false"
                  color="transparent"
                  elevation="0"
                  width="180px"
                >
                  <v-img
                    :src="image_path + category.image.image"
                    :alt="category.image.alt"
                    height="50px"
                    contain
                  />
                  <h2 :style="{'color':'black'}" class="text-center caption font-weight-bold">
                    {{ category.title }}
                  </h2>
                </v-card>
              </v-tab>
            </v-tabs>
          </v-col>
        </v-row>
        <nuxt />
      </v-container>
    </v-content>
    <Footer />
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'
import { mdiArrowLeftBold, mdiArrowRightBold } from '@mdi/js'
import Footer from '@/components/Footer.vue'

export default {
  components: {
    Footer
  },
  data () {
    return {
      image_path: process.env.image_path,
      arrowRightBold: mdiArrowRightBold,
      arrowLeftBold: mdiArrowLeftBold,
      selectedTab: this.$store.getters.categories.findIndex(x => x.slug === this.$route.params.category)
    }
  },
  computed: {
    ...mapGetters([
      'categories'
    ])
  },
  watch: {
    '$route.params.category': {
      handler (category) {
        this.selectedTab = this.$store.getters.categories.findIndex(x => x.slug === category)
      }
    }
  },
  methods: {
    enlaceOfuscado (path) {
      this.$router.push({ path: `/${path}` })
    },
    hrefOfuscado (path) {
      this.window.location = path
    }
  }
}
</script>
<style>
#noActionBtn::before{
  background: transparent !important;
}
.footerButton{
  white-space: normal;
}
.footerButton > span{
    width: fit-content;
    display: inline-block;
}
</style>
