<template>
  <v-app :style="{'background': 'linear-gradient(180deg, #f8d0b0  50%, #709078 50%)'}">
    <v-content>
      <v-container fluid class="pa-0">
        <v-row class="mx-0">
          <v-col
            :style="{'border-bottom-left-radius': '38px', 'border-bottom-right-radius': '38px', 'background-color': '#FDF5EE !important'}"
            class="py-6"
            cols="12"
          >
            <v-card
              id="noActionBtn"
              v-ripple="false"
              color="transparent"
              elevation="0"
              to="/"
              nuxt
            >
              <h1 class="text-center display-3 font-weight-black">
                TITLE
              </h1>
            </v-card>
          </v-col>
        </v-row>
        <nuxt />
      </v-container>
    </v-content>
    <v-footer :style="{'background-color': '#FDF5EE', 'border-top-left-radius': '38px', 'border-top-right-radius': '38px'}">
      <v-container class="pa-0">
        <v-row align="center" justify="end" class="px-2">
          <v-col cols="7">
            <v-btn @click="enlaceOfuscado('contacto')" text class="pa-0 ma-0">
              <span class="font-weight-black headline">Contacto</span>
            </v-btn>
          </v-col>
          <v-col cols="1" class="pa-0 mx-2">
            <v-lazy>
              <v-img
                :src="require('@/assets/instagram.svg')"
                class="my-2"
                height="35"
                contain
              />
            </v-lazy>
          </v-col>
          <v-col cols="1" class="pa-0 mx-2">
            <v-lazy>
              <v-img
                :src="require('@/assets/facebook.svg')"
                class="my-2"
                height="35"
                contain
              />
            </v-lazy>
          </v-col>
          <v-col cols="1" class="pa-0 mx-2">
            <v-lazy>
              <v-img
                :src="require('@/assets/twitter.svg')"
                class="my-2"
                height="35"
                contain
              />
            </v-lazy>
          </v-col>
          <v-col cols="12">
            <v-divider />
          </v-col>
          <v-col cols="12">
            <v-row>
              <v-col cols="6" class="text-center">
                <v-btn @click="enlaceOfuscado('aviso-legal')" text class="pa-0 ma-0">
                  Aviso Legal
                </v-btn>
              </v-col>
              <v-col cols="6" class="text-center">
                <v-btn @click="enlaceOfuscado('politica-de-cookies')" text class="pa-0 ma-0">
                  Política de Cookies
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-footer>
  </v-app>
</template>

<script>

export default {
  data () {
    return {
    }
  },
  methods: {
    enlaceOfuscado (path) {
      this.$router.push(path)
    }
  }
}
</script>
<style>
</style>
