<template>
  <v-app :style="{'background': 'linear-gradient(180deg, #f8d0b0  50%, #709078 50%)'}">
    <v-content>
      <v-container fluid class="pa-0">
        <v-row class="mx-0">
          <v-col
            :style="$route.path === '/' ? {'border-bottom-left-radius': '38px', 'border-bottom-right-radius': '38px', 'background-color': '#FDF5EE !important'}
              : {'border-bottom-left-radius': '0px', 'border-bottom-right-radius': '0px','background-color': '#FDF5EE !important'}"
            :class="$route.path === '/' ? 'py-6' : 'pt-6 pb-0' "
            cols="12"
          >
            <v-card
              id="noActionBtn"
              v-ripple="false"
              color="transparent"
              elevation="0"
              to="/"
              nuxt
            >
              <h1 class="text-center display-4 font-weight-black">
                TITLE
              </h1>
            </v-card>
          </v-col>
          <v-col id="titleHomeCol" v-if="$route.path !== '/'" cols="12" class="pt-0">
            <v-tabs
              :next-icon="arrowRightBold"
              :prev-icon="arrowLeftBold"
              background-color="transparent"
              color="#709078"
              class="px-0 mx-0"
              grow
              show-arrows
              height="105px"
            >
              <v-tab v-for="categoria in categorias" :key="categoria.slug" @click="enlaceOfuscado(categoria.slug)" nuxt>
                <v-card
                  id="noActionBtn"
                  v-ripple="false"
                  color="transparent"
                  elevation="0"
                  width="180px"
                >
                  <v-img
                    :src="categoria.image"
                    height="70px"
                    contain
                  />
                  <h2 :style="{'color':'black'}" class="text-center">
                    {{ categoria.name }}
                  </h2>
                </v-card>
              </v-tab>
            </v-tabs>
          </v-col>
        </v-row>
        <nuxt />
      </v-container>
    </v-content>
    <v-footer :style="{'background-color': '#FDF5EE', 'border-top-left-radius': '38px', 'border-top-right-radius': '38px'}">
      <v-container class="pa-0">
        <v-row align="center" justify="end" class="px-2">
          <v-col cols="7">
            <v-btn @click="enlaceOfuscado('contacto')" text class="pa-0 ma-0">
              <span class="font-weight-black headline">Contacto</span>
            </v-btn>
          </v-col>
          <v-col cols="1" class="pa-0 mx-2">
            <v-lazy>
              <v-img
                :src="require('@/assets/instagram.svg')"
                class="my-2"
                height="35"
                contain
              />
            </v-lazy>
          </v-col>
          <v-col cols="1" class="pa-0 mx-2">
            <v-lazy>
              <v-img
                :src="require('@/assets/facebook.svg')"
                class="my-2"
                height="35"
                contain
              />
            </v-lazy>
          </v-col>
          <v-col cols="1" class="pa-0 mx-2">
            <v-lazy>
              <v-img
                :src="require('@/assets/twitter.svg')"
                class="my-2"
                height="35"
                contain
              />
            </v-lazy>
          </v-col>
          <v-col cols="12">
            <v-divider />
          </v-col>
          <v-col cols="12">
            <v-row>
              <v-col sm="4" cols="6" class="text-center">
                <v-btn @click="enlaceOfuscado('aviso-legal')" text class="pa-0 ma-0">
                  Aviso Legal
                </v-btn>
              </v-col>
              <v-col sm="4" cols="6" class="text-center">
                <v-btn @click="enlaceOfuscado('politica-de-cookies')" text class="pa-0 ma-0">
                  Política de Cookies
                </v-btn>
              </v-col>
              <v-col sm="4" cols="6" class="text-center">
                <v-btn @click="enlaceOfuscado('/sitemap.xml')" text class="pa-0 ma-0">
                  Mapa del Sitio
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-footer>
  </v-app>
</template>

<script>
import { mdiArrowLeftBold, mdiArrowRightBold } from '@mdi/js'

export default {
  data () {
    return {
      arrowRightBold: mdiArrowRightBold,
      arrowLeftBold: mdiArrowLeftBold,
      categorias: [
        {
          'slug': 'alimentacion',
          'image': require('@/assets/cocina.svg'),
          'name': 'Alimentación'
        },
        {
          'slug': 'deportes',
          'image': require('@/assets/pantalones-cortos-de-boxeo.svg'),
          'name': 'Deportes'
        },
        {
          'slug': 'cuco',
          'image': require('@/assets/pantalones-cortos-de-boxeo.svg'),
          'name': 'Cuco'
        }
      ]
    }
  },
  methods: {
    enlaceOfuscado (path) {
      this.$router.push({ path: `/${path}` })
    }
  }
}
</script>
<style>
#noActionBtn::before{
  background: transparent !important;
}
</style>
