<template>
  <v-app light>
    <v-content>
      <v-container>
        <v-row dense align="center" justify="center">
          <v-col cols="12" class="text-center align-center my-12">
            <h1 v-if="error.statusCode === 404" class="text--color display-1 font-weight-regular">
              {{ pageNotFound }}
            </h1>
            <h1 v-else class="text--color">
              {{ otherError }}
            </h1>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  head () {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title
    }
  },
  data () {
    return {
      pageNotFound: 'Ups parece que está página no existe...',
      otherError: 'Ha ocurrido un error inesperado...'
    }
  },
  computed: {
    ...mapGetters([
      'home'
    ])
  }
}
</script>

<style scoped>
h1 {
  font-size: 20px;
}
</style>
