<template>
  <v-app :style="{'background': 'linear-gradient(180deg, #f8d0b0  50%, #709078 50%)'}">
    <v-content>
      <v-container fluid class="pa-0">
        <v-row class="mx-0">
          <v-col
            :style="{'border-bottom-left-radius': '38px', 'border-bottom-right-radius': '38px', 'background-color': '#FDF5EE !important'}"
            class="py-6"
            cols="12"
          >
            <v-card
              id="noActionBtn"
              v-ripple="false"
              color="transparent"
              elevation="0"
            >
              <h1 class="text-center display-3 font-weight-black">
                TITLE
              </h1>
            </v-card>
          </v-col>
        </v-row>
        <nuxt />
      </v-container>
    </v-content>
    <Footer />
  </v-app>
</template>

<script>
import Footer from '@/components/Footer.vue'

export default {
  components: {
    Footer
  },
  data () {
    return {
    }
  },
  methods: {
    enlaceOfuscado (path) {
      this.$router.push(path)
    }
  }
}
</script>
<style>
#noActionBtn::before{
  background: transparent !important;
}
.footerButton{
  white-space: normal;
}
.footerButton > span{
    width: fit-content;
    display: inline-block;
}
</style>
