<template>
  <v-breadcrumbs :items="items" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
    <template v-slot:item="{ item }">
      <v-breadcrumbs-item
        itemprop="itemListElement"
        itemscope="itemscope"
        itemtype="http://schema.org/ListItem"
      >
        <nuxt-link
          v-if="!item.disabled"
          :to="item.to"
          :exact="item.exact"
          nuxt
          itemprop="item"
        >
          <label :style="{'cursor':'pointer'}" itemprop="name"> {{ item.text.toUpperCase() }}</label>
          <meta :content="item.position" itemprop="position">
        </nuxt-link>
        <span v-if="item.disabled">
          <label itemprop="name"> {{ item.text.toUpperCase() }}</label>
          <meta :content="item.position" itemprop="position">
        </span>
      </v-breadcrumbs-item>
    </template>
  </v-breadcrumbs>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default () {
        return []
      }
    }
  }

}
</script>

<style>

</style>
