<template>
  <v-lazy>
    <v-card
      :style="{'border-radius': 20+'px'}"
      :to="'/' + post.category.slug + '/' + post.slug"
      class="mx-auto mt-3 d-flex align-center"
      tile
      color="#FDF5EE"
      nuxt
    >
      <v-img
        id="lastPostImage"
        :src="image_path + post.image.image"
        :alt="post.image.alt"
        v-show="!$breakpoint.is.xsOnly"
        eager
        transition="scroll-y-transition"
        height="350px"
        width="50%"
      >
        <template v-slot:placeholder>
          <v-skeleton-loader
            height="100%"
            class="ma-0"
            type="image"
          />
        </template>
      </v-img>
      <div>
        <v-card-title class="mb-0 pb-0 font-weight-bold">
          {{ post.title | capitalize }}
        </v-card-title>

        <v-card-text>
          <v-row
            align="center"
            class="mx-0 my-0"
          >
            <div class="grey--text ml-0">
              {{ post.publication_date }}
            </div>
          </v-row>

          <div class="truncate-overflow">
            {{ post.introduction.split(" ").slice(0,80).join(" ") + '...' }}
          </div>
        </v-card-text>

        <v-divider class="mx-4" />
        <v-card-text class="py-0">
          <v-chip-group
            column
          >
            <v-chip :style="{'border-radius': 20+'px'}" color="red" class="accent-4 white--text text-uppercase">
              {{ post.category.title }}
            </v-chip>
          </v-chip-group>
        </v-card-text>
      </div>
    </v-card>
  </v-lazy>
</template>

<script>
import { mdiStar, mdiStarHalf, mdiStarOutline } from '@mdi/js'

export default {
  filters: {
    capitalize (value) {
      if (!value) { return '' }
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    }
  },
  props: {
    post: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data: () => ({
    image_path: process.env.image_path,
    loading: true,
    selection: 0,
    fullStar: mdiStar,
    halfStar: mdiStarHalf,
    emptyStar: mdiStarOutline
  })
}
</script>

<style>
#lastPostImage{
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0px;
}
div.v-responsive.v-image > div.v-image__placeholder > div > div{
  height: 100%;
}
</style>
