<template>
  <v-card
    :style="{'border-radius': 20+'px'}"
    :to="'/' + post.category.slug + '/' + post.slug"
    class="mx-auto mt-3"
    tile
    color="#FDF5EE"
    nuxt
  >
    <v-img
      :src="image_path + post.image.image"
      :alt="post.image.alt"
      eager
      transition="scroll-y-transition"
      height="350"
    >
      <template v-slot:placeholder>
        <v-skeleton-loader
          height="100%"
          class="ma-0"
          type="image"
        />
      </template>
    </v-img>
    <v-card-title class="mb-0 pb-0 font-weight-bold">
      {{ post.title | capitalize }}
    </v-card-title>

    <v-card-text>
      <v-row
        align="center"
        class="mx-0 my-0"
      >
        <v-rating
          :empty-icon="emptyStar"
          :full-icon="fullStar"
          :half-icon="halfStar"
          :value="post.stars"
          color="amber"
          dense
          half-increments
          readonly
          size="23"
          class="mb-1 ml-n1"
        />

        <div class="grey--text ml-4">
          {{ post.stars + ' (' + post.valuations + ')' }}
        </div>
      </v-row>

      <div>{{ post.introduction.split(" ").slice(0,25).join(" ") + '...' }}</div>
    </v-card-text>

    <v-divider class="mx-4" />
    <v-card-text class="py-0">
      <v-chip-group
        column
      >
        <v-chip :style="{'border-radius': 20+'px'}" color="red" class="accent-4 white--text text-uppercase">
          {{ post.category.title }}
        </v-chip>
      </v-chip-group>
    </v-card-text>
  </v-card>
</template>

<script>
import { mdiStar, mdiStarHalf, mdiStarOutline } from '@mdi/js'

export default {
  filters: {
    capitalize (value) {
      if (!value) { return '' }
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    }
  },
  props: {
    post: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data: () => ({
    image_path: process.env.image_path,
    loading: true,
    selection: 0,
    fullStar: mdiStar,
    halfStar: mdiStarHalf,
    emptyStar: mdiStarOutline
  })
}
</script>

<style>
div.v-responsive.v-image > div.v-image__placeholder > div > div{
  height: 100%;
}
</style>
