<template>
  <v-container :class="$breakpoint.is.xsOnly ? 'px-3' : 'px-12'">
    <BreadcrumbSnippet :items="items" />
    <h1 class="text-center font-weight-bold  display-2 mb-5">
      {{ post.title.toUpperCase() }}
    </h1>
    <v-img
      :style="{'border-radius': '38px'}"
      :max-width="windowSize.y * 0.6 * post.image.ratio"
      :max-height="windowSize.y * 0.6"
      :src="image_path + post.image.image"
      :alt="post.image.alt"
      eager
      class="mx-auto mb-5"
      contain
    />
    <div v-html="post.instroduction" />
    <div v-for="(benefit, index) in post.article_text" :key="index" class="py-3">
      <h2 :class="$breakpoint.is.smAndDown ? 'font-weight-bold headline mb-4' : 'font-weight-bold display-1 mb-4'">
        {{ index + 1 }}. {{ benefit.title.toUpperCase() }}
      </h2>
      <v-img
        v-if="benefit.image"
        :style="{'border-radius': '38px'}"
        :max-width="windowSize.y * 0.6 * benefit.image.ratio"
        :max-height="windowSize.y * 0.6"
        :src="benefit.image.image"
        :alt="benfit.image.altz"
        eager
        class="mx-auto mb-4"
        contain
      />
      <div v-html="benefit.texto" />
      <v-divider class="mt-4" />
    </div>
  </v-container>
</template>

<script>
import BreadcrumbSnippet from '@/components/BreadcrumbSnippet.vue'

export default {
  layout: 'categoriesLayout',
  components: {
    BreadcrumbSnippet
  },
  data () {
    return {
      image_path: process.env.image_path,
      post: {},
      items: [
        {
          text: 'Inicio',
          exact: true,
          disabled: false,
          to: '/',
          position: 1
        },
        {
          text: this.$route.params.category,
          exact: true,
          disabled: false,
          to: '/' + this.$route.params.category,
          position: 2
        },
        {
          text: this.$route.params.post,
          exact: true,
          disabled: true,
          to: '/' + this.$route.params.post,
          position: 3
        }
      ],
      windowSize: { x: 0, y: 0, mx: 0, my: 0 }
    }
  },
  async asyncData ({ $axios, params }) {
    // eslint-disable-next-line no-return-await
    const postData = await $axios.$get(`/api/posts/${params.post}/`)
    return {
      post: postData
    }
  },
  mounted () {
    this.onResize()
  },
  methods: {
    onResize () {
      this.windowSize = { x: window.innerWidth, y: window.innerHeight }
    }
  }
}
</script>

<style>

</style>
