<template>
  <v-container fluid class="pa-0">
    <v-row id="postsDestacados" :class="$breakpoint.is.smAndDown ? 'justify-center px-1 pb-4' : 'justify-center px-12 pb-4'">
      <v-col cols="12" class="pb-0">
        <span class="display-1 font-weight-black cool-underline">
          POSTS DESTACADOS
        </span>
      </v-col>
      <v-col
        v-for="post in postsDestacados"
        :key="post.slug"
        lg="3"
        md="6"
        sm="6"
        cols="12"
      >
        <PostCard
          :post="post"
        />
      </v-col>
    </v-row>
    <div :style="{'background-color': '#f8d0b0'}">
      <v-row id="titleTopHomeCol" class="mx-0 justify-center py-6">
        <v-col
          v-for="category in categories"
          :key="category.slug"
          lg="2"
          md="3"
          sm="4"
          cols="6"
          class="my-2"
        >
          <v-card :to="category.slug" color="transparent" elevation="0" nuxt>
            <v-img
              :src="image_path + category.image.image"
              :alt="category.image.alt"
              height="100"
              contain
            />
            <h2 :style="{'color': 'black'}" class="text-center">
              {{ category.title }}
            </h2>
          </v-card>
        </v-col>
      </v-row>
    </div>
    <v-row id="postsUltimos" :class="$breakpoint.is.smAndDown ? 'justify-center px-1 pb-4' : 'justify-center px-12 pb-4'">
      <v-col cols="12" class="pb-0 mt-2">
        <span class="display-1 font-weight-black cool-underline">
          ÚLTIMOS POSTS
        </span>
      </v-col>
      <v-col
        v-for="post in ultimosPosts"
        :key="post.slug"
        lg="6"
        md="12"
        sm="12"
        cols="12"
      >
        <LastPostCard
          :post="post"
        />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'
import PostCard from '@/components/PostCard.vue'
import LastPostCard from '@/components/LastPostCard.vue'

export default {
  layout: 'homeLayout',
  components: {
    PostCard,
    LastPostCard
  },
  data () {
    return {
      image_path: process.env.image_path,
      postsDestacados: [],
      ultimosPosts: []
    }
  },
  computed: {
    ...mapGetters([
      'categories'
    ])
  },
  async asyncData ({ $axios, params }) {
    // eslint-disable-next-line no-return-await
    const postsDestacadosData = await $axios.$get('/api/posts-destacados/')

    const ultimosPostsData = await $axios.$get('/api/ultimos-posts/')

    return {
      postsDestacados: postsDestacadosData,
      ultimosPosts: ultimosPostsData
    }
  }
}
</script>

<style>
.cool-underline{
  color: black !important;
  position: relative;
}
.cool-underline::before{
  content: ' ';
  position: absolute;
  width: 7em;
  background: rgba(120,176,160,0.4);
  height: .5em;
  top: 1.4rem;
}
#postsDestacados{
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: #f8d0b0 !important;
}
#postsUltimos{
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: #709078 !important;
}
#titleHomeCol{
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  background-color: #FDF5EE !important;
}
#titleTopHomeCol{
  width:100%;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  height: 100%;
  background: linear-gradient(90deg, #FDF5EE 50%, #709078 50%);
}
</style>
