<template>
  <v-container fluid>
    <v-row class="justify-center">
      <v-col
        v-for="post in posts"
        :key="post.slug"
        lg="3"
        md="6"
        sm="6"
        cols="12"
      >
        <PostCard
          :post="post"
        />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import PostCard from '@/components/PostCard.vue'

export default {
  layout: 'categoriesLayout',
  components: {
    PostCard
  },
  data () {
    return {
      posts: []
    }
  },
  async asyncData ({ $axios, params }) {
    // eslint-disable-next-line no-return-await
    const postsCategoryData = await $axios.$get(`/api/categories/${params.category}/`)

    return {
      posts: postsCategoryData
    }
  }
}
</script>

<style>

</style>
